.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1f26;
  padding: 0 20px;
  border-bottom: 2px solid #00d1b2;
  box-shadow: 0 4px 15px rgba(0, 209, 178, 0.2);
  height: 60px;
}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
}

.menu-button {
  background-color: #2a2e37;
  color: #d3d7db;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.menu-button:hover {
  background-color: #00d1b2;
  color: #1c1f26;
  border-color: #00d1b2;
}

.left-buttons .menu-button {
  margin-right: 10px;
}

.right-buttons .menu-button {
  margin-left: 10px;
}
